@import "./base-styles.css";

@font-face {
  font-family: "Inter";
  src:
    url(../font/Inter-Bold.woff2) format("woff2"),
    url(../font/Inter-Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url(../font/Inter-Medium.woff2) format("woff2"),
    url(../font/Inter-Medium.woff) format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src:
    url(../font/RedHatDisplay-Regular.woff2) format("woff2"),
    url(../font/RedHatDisplay-Regular.ttf) format("truetype");
  font-weight: 300;
  font-display: swap;
}

:root {
  --header-height-t: 60.6px;
  --header-height-b-m: 86px;
  --header-height-b-s: 67.5px;

  /* light */
  --show-sun: block;
  --show-moon: none;
  /* dark */
  --show-sun: none;
  --show-moon: block;
}

/* ********** Utilities ********** */

.container {
  max-width: var(--max-width);
  /* padding-bottom: var(--box-32-36); */
  margin-left: auto;
  margin-right: auto;
}

.title-second {
  font-size: var(--font-48);
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1.3px;
  margin-bottom: var(--box-15-17);

  margin-top: var(--box-32-36);

  @media (width > 1024px) {
    margin-top: var(--header-height-t);
  }
}

.none {
  display: none;
}

/* ********** Opmitimizer ********** */

/* Optimiza secciones fuera del viewport */
.op-render {
  content-visibility: auto; /* Renderiza solo si es visible */
  contain-intrinsic-size: 100vh; /* Evita saltos; reserva espacio real */
  contain: layout paint; /* Aíslay y evita recalcular y dibujar afuera */
}

/* Optimiza elementos internos (cards/proyectos) */
.op-card {
  contain: content; /* layout + paint: acelera animaciones */
}

/* Aislamiento máximo para elementos estáticos */
.op-pd {
  contain: strict; /* layout + paint + size: máximo ahorro CPU */
}

/* ********** scroll-bar ********** */

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #1118;
  display: none;
}
::-webkit-scrollbar-thumb {
  border: 0.5px solid #ffffff66;
  border-radius: var(--radius-s);
  background-color: #0008;

  &:active {
    border: 0.5px solid #999;
    background-color: #333;
  }
}
@media (hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    border: 0.5px solid #999;
    background-color: #333;
  }
}

/* ********** header ********** */

header {
  position: absolute;
  inset: 0;
  z-index: 2;
  height: 0;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 32px;

    .header-logo {
      color: var(--color-white);
    }
  }

  .header-flags {
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 100;

    .qr-wrapper {
      --qr-btn-bg: transparent;
      --qr-card-bg: #3339;
      --qr-card-color: #fff;
      --transition: 500ms cubic-bezier(0.2, 0.8, 0.2, 1);
      position: relative;
      display: inline-block;

      &:hover .qr-card,
      &:focus-within .qr-card {
        opacity: 1;
        transform: translateX(-50%) translateY(0) scale(1);
        pointer-events: auto;
      }

      .qr-btn {
        width: 44px;
        height: 44px;
        cursor: pointer;
        background-color: var(--qr-btn-bg);
        transition:
          opacity var(--transition),
          transform var(--transition),
          box-shadow var(--transition);

        img {
          width: 100%;
        }

        &:hover {
          opacity: 0.75;
        }
      }

      /* TARJETA (ABAJO CENTRADA) */
      .qr-card {
        position: absolute;
        min-width: 160px;
        top: calc(100% + 12px);
        left: 50%;
        transform: translateX(-50%) translateY(-5px);
        background-color: var(--qr-card-bg);
        padding: 14px;
        border-radius: var(--radius-m);
        opacity: 0;
        pointer-events: none;
        transition:
          opacity var(--transition),
          transform var(--transition);

        p {
          text-align: center;
          color: var(--qr-card-color);
        }
        img {
          width: 140px;
          height: 140px;
          padding: 6px;
        }
      }

      @media (width < 768px) {
        display: none;
      }
    }

    .flags-item {
      width: 22px;
      filter: drop-shadow(var(--shadow-s));
      cursor: pointer;

      &:first-of-type {
        margin-left: 0.5rem;
        img {
          border-radius: 8px 0 0 8px;
        }
      }
      img {
        border-radius: 0 8px 8px 0;
        filter: grayscale(80%);
        &:hover,
        &:active {
          filter: brightness(2) drop-shadow(0 0 2px #fff9);
        }
      }
    }
  }
}

.menu {
  position: relative;
  display: flex;

  --bg-navbar: #e8e8edb8;
  --bg-navbar-borde: #f5f5f730;
  --color-navbar: var(--text-color);

  --bg-btn-active: var(--btn-first);
  --color-btn-active: var(--color-white);
  --btn-navbar-active-border: #0003;

  --box-shadow-m: var(--shadow-m);

  ul {
    position: fixed;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    width: max-content;
    display: flex;
    gap: 0px;
    margin: 0 auto;
    border-radius: var(--radius-full);
    padding: 4px;

    transform: scale(0.88);
    opacity: 0;
    will-change: transform, opacity, background-color, color;
    transition:
      opacity 0.5s cubic-bezier(0.22, 1, 0.36, 1),
      background-color 0.5s ease,
      color 0.5s cubic-bezier(0.22, 1, 0.36, 1),
      transform 1.1s cubic-bezier(0.22, 1, 0.36, 1);
    z-index: 2;

    li a {
      display: flex;
      border-radius: var(--radius-full);
      transition: background-color var(--transition-s);
      color: #fff;

      span {
        display: none;
        letter-spacing: 0.4px;
      }
      svg {
        padding: var(--box-8-9);
        width: max-content;
        height: auto;
      }

      &.active,
      &:hover,
      &:active {
        background-color: var(--bg-btn-active);
        color: var(--color-btn-active);
        opacity: 1;
      }
      &:active {
        /* opacity: 0.75; */
        background-color: #19f;
      }
    }
  }

  &.scroll-menu {
    ul {
      border: 0.5px solid var(--bg-navbar-borde);
      background-color: var(--bg-navbar) !important;
      backdrop-filter: saturate(200%) blur(7px);
      -webkit-backdrop-filter: saturate(200%) blur(7px);

      transform: scale(1);
      opacity: 1;
      li a {
        color: var(--color-navbar);
        &.active,
        &:hover,
        &:active {
          color: var(--color-btn-active);
        }
      }
    }
    @media (width > 768px) {
      ul li a svg {
        opacity: 1;
      }
    }
    @media (width > 1024px) {
      ul {
        transform: translateY(5px);
      }
    }
  }

  @media (width > 768px) {
    ul li a svg {
      padding: var(--box-15-17);
      transform: scale(1.2);
    }
  }

  @media (width > 1024px) {
    ul {
      bottom: unset;
      padding: 4px;
      opacity: 1;

      li a {
        span {
          display: inline-block;
          padding: 0.8rem 1.6rem;
          font-weight: 500;
        }
        svg {
          display: none;
        }
      }
    }
  }
}

/* ********** Components ********** */

.home-hero {
  position: relative;
  min-height: 100dvh;
  background-color: #000;

  &::after {
    content: "";
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #000;
    background-image: radial-gradient(circle, #fff0 13%, #000 100%);
    opacity: 0.4;
  }
  video {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    margin: auto;
  }
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  z-index: 1;

  .home-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 0 var(--box-15-17);

    /* margin-top: clamp(40px, 15vw, 150px); */
    /* margin-top: clamp(40px, 10vw, 150px); */
    margin-top: clamp(10px, 25vw, 150px);

    padding-top: 64px;
    gap: var(--gab-20-16);

    .home-box-perfil {
      display: flex;
      gap: 8px;

      padding: 3px 11px 3px 4px;
      border-radius: var(--radius-full);

      border: 1.25px solid #fff3;
      background-color: #0007;
      backdrop-filter: saturate(200%) blur(7px);
      -webkit-backdrop-filter: saturate(200%) blur(7px);
      box-shadow:
        0 0 5px 1px #fff,
        -2px -1px 6px 1px #00d2ffd0,
        2px 1px 6px 1px #18cd,
        0 0 36px 7px var(--btn-first);

      /* original 
      box-shadow:
        0 0 20px 2px #ff69b4,
        -15px -10px 45px 10px #6394ed,
        15px 10px 45px 10px #9470db,
        0 0 60px 15px #00ffff33; */

      .home-image {
        height: 30px;
      }

      .home-name_role {
        color: #fff;
        font-family: var(--font-red-hat);
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0.2px; /* 7px scale 400 */
        margin-top: 1px;
      }
    }

    .home-title-propuesta h1 {
      text-align: center;
      font-weight: 700;
      letter-spacing: -1.45px; /* 16px scale 400 */
      letter-spacing: -0.2px; /* 16px scale 400 */
      color: #fff;
      text-wrap: balance;
      text-shadow: 0 0 6px #e3f4ff80;

      @media (width > 768px) {
        font-size: var(--font-48);
        line-height: 57px;
      }
    }

    .home-subtitle-resumen {
      max-width: 800px;
      text-align: center;
      font-size: var(--font-17);
      line-height: 20px;
      font-weight: 500;
      letter-spacing: -0.2px; /* 7px scale 400 */
      text-wrap: balance;
      color: var(--text-color-alpha);

      b {
        letter-spacing: -0.25px;
        color: #18f;
        /* font-weight: normal; */
      }
      @media (width > 768px) {
        line-height: 23px;
      }
    }

    .home-competencias {
      padding: 4px 11px 4px 4px;
      border: 1.25px solid #fff4;
      border-radius: var(--radius-m);
      background-color: #0006;

      .image-check {
        width: 24px;
        height: 20px;
        margin-top: -0.3px;
        margin-top: -0.3px;
      }

      .home-competencias-box {
        display: flex;
        align-items: center;
        align-items: start;

        p {
          margin-left: 3px;
          font-family: var(--font-red-hat);
          font-weight: 300;
          letter-spacing: 0.2px; /* 7px scale 400 */
          color: var(--color-white);
        }
      }
    }

    .home-disponiblidad {
      display: flex;
      --margin-top-0-32: clamp(0rem, -0.8182rem + 3.6364vw, 2rem);
      margin-top: var(--margin-top-0-32);
      border: 1px solid #fff3;
      border-radius: var(--radius-s);

      padding: 2px 12px 2px 6px;
      background-color: #fff3;
      background-image: linear-gradient(279deg, #0007, #1b1b1b 50%, #0007);
      backdrop-filter: saturate(200%) blur(1px);
      svg {
        margin-right: 3px;
        min-width: 20px;
      }

      p {
        align-self: center;
        margin-bottom: 0;
        font-family: var(--font-red-hat);
        font-weight: 300;
        letter-spacing: 0.2px; /* 7px scale 400 */
        color: var(--color-white);
      }
    }
  }
}

.skills {
  padding-bottom: var(--box-25-28);
  margin: 0 var(--box-15-17);

  .skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: var(--gab-20-16);
    margin-top: var(--box-15-17);

    .skill-box {
      display: flex;
      flex-direction: column;

      .skill-title {
        margin-bottom: var(--box-15-17);
        font-size: 17px;
        letter-spacing: 1%;
        color: var(--text-color);
      }

      .skill-item {
        display: flex;
        padding: 4px;
        padding-left: 0;

        img {
          max-width: 59px;
          max-height: 59px;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          border: 0.5px solid #7772;
          border-radius: var(--radius-m);
          corner-shape: squircle;
        }

        .skill-info {
          padding: 5px;

          h3 {
            font-size: 15px;
            letter-spacing: 0.2px; /* 8px scale 400 */
          }
          p {
            color: var(--text-color-alpha);
            color: #0000008f;
            font-size: 13px;
            letter-spacing: -0.2px; /* 7px scale 400 */
          }
        }
      }
    }
  }
}

.project {
  background-color: var(--color-white);
  /* background-color: #001b3a; */
  /* background-color: #001931; */
  padding-bottom: var(--box-25-28);

  /* .title-second {
    color: #fff;
  } */

  .proyecto-container {
    .proyecto-page {
      max-width: 100%;
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: repeat(1, 1fr);
      gap: var(--gab-20-16);
      margin: var(--box-15-17);

      figure {
        display: flex;
        align-items: end;
        /* margin: 1rem 0.5rem; */

        border-radius: var(--radius-l);
        aspect-ratio: 16/9;
        background-size: cover;
        background-position: center;
        overflow: hidden;

        .link-title {
          width: 100%;
          padding: 1rem;
          border-top: 1px solid transparent;
          color: #f8f9fc;
          background-color: #0008;
          transition: all var(--transition-m);
          opacity: 1;

          p {
            display: flex;
            justify-content: space-between;
          }

          &:hover {
            border-top: 1px solid #111;
            color: #fff;
            text-shadow: 0 0 5px #000;
            background-color: #0009;
            backdrop-filter: blur(8px) saturate(180%);
            opacity: 1;
          }
        }

        &.bg-theme-fs {
          background-image: url(../assets/project/theme-fs.avif);
        }
        &.bg-crud {
          background-image: url(../assets/project/crud.avif);
        }
        &.bg-spa-apis {
          background-image: url(../assets/project/spa_apis.png);
        }
        &.bg-tarjeta-compra {
          background-image: url(../assets/project/e-commers.avif);
        }
        &.bg-blog {
          background-image: url(../assets/project/blog.avif);
        }
        &.bg-ajax {
          background-image: url(../assets/project/incluir-html-ajax.avif);
        }
        &.bg-sliders {
          background-image: url(../assets/project/reloj-serie.avif);
        }
      }
    }
  }

  @media (width > 1024px) {
    .proyecto-container {
      .proyecto-page {
        grid-template-columns: repeat(2, 1fr);

        figure:nth-last-child(1):nth-child(odd) {
          grid-column: span 2;
        }
      }
    }
  }
}

.about {
  --bg-box: linear-gradient(160deg, transparent 30%, #d4d7db);
  --bg-box: linear-gradient(160deg, transparent 46%, #d4d7db);

  justify-content: center;

  .about-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--box-15-17);

    border-radius: var(--radius-l);

    .animate-logo {
      max-width: 60%;
      --s: 10px;
      --f: 1; /* initial scale */

      padding-top: calc(var(--s) / 5);
      border-radius: 0 0 999px 999px;
      --_g: 50% / calc(100% / var(--f)) 100% no-repeat content-box;
      --_o: calc((1 / var(--f) - 1) * var(--s) / 2 - 6px);
      outline-offset: var(--_o);
      background: radial-gradient(
          circle closest-side,
          #f4f4f7 calc(99% - 6px),
          #0002 calc(100% - 6px) 99%,
          #0000
        )
        var(--_g);
      -webkit-mask:
        linear-gradient(#000 0 0) no-repeat 50% calc(1px - var(--_o)) /
          calc(100% / var(--f) - 2 * 6px - 2px) 50%,
        radial-gradient(circle closest-side, #000 99%, #0000) var(--_g);
      mask:
        linear-gradient(#000 0 0) no-repeat 50% calc(1px - var(--_o)) /
          calc(100% / var(--f) - 2 * 6px - 2px) 50%,
        radial-gradient(circle closest-side, #000 99%, #0000) var(--_g);

      /* -webkit-mask: linear-gradient(#000 0 0) no-repeat 50%
          calc(1px - var(--_o)) / calc(100% / var(--f) - 2 * 6px - 2px) 50%,
        radial-gradient(circle closest-side, #000 99%, #0000) var(--_g); */
      transform: scale(var(--f));
      transition: 0.5s;
      &:hover {
        --f: 1.15;
      }
    }

    .about-text {
      .f-hidden {
        justify-content: start;
        .title-second {
          margin-top: 0;
        }
      }
      p {
        text-indent: 0.5rem;
        text-wrap: balance;
      }
    }
  }

  @media (width > 768px) {
    padding: var(--box-60-67) var(--box-32-36);

    .about-box {
      flex-direction: row;
      padding-top: 0;
      gap: var(--gab-20-16);
      background-image: var(--bg-box);
      img {
        width: 30%;
      }
    }
  }
}

.contact {
  --bg-footer: var(--color-black);
  --bg-footer: #001b3a;
  --color-footer: #f4f4f5;
  --color-footer: #fff;

  position: relative;
  min-height: 100dvh;
  padding-top: var(--box-25-28);
  background-color: var(--bg-footer);
  color: var(--color-footer);

  .contact-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gab-20-16);

    .title-second {
      color: var(--color-footer);
    }
    .box-contact a {
      color: var(--color-footer);
    }

    p {
      font-size: var(--font-20);
      font-weight: 700;
      color: var(--text-color-alpha);
    }
  }

  .box-contact {
    display: flex;
    justify-content: center;
    gap: var(--gab-24);

    transition: transform var(--transition-m);

    /* a[title="Email"] {
      svg {
        fill: var(--icon-contacto);
        filter: drop-shadow(0 0 9px var(--icon-shadow));
        &:hover {
          filter: none;
        }
      }
    } */
    a {
      --icon-contacto: #fff;
      --icon-shadow: #e3f4ff;
      --bg-btn-active-border: #0003;

      /* border: 2px solid #f00 !important; */

      &:hover,
      &:active {
        transform: scale(1.05);
      }
      svg {
        fill: var(--icon-contacto);

        filter: drop-shadow(0 0 9px var(--icon-shadow));
        &:hover {
          filter: none;
        }
      }
    }
  }

  .contact-btn-cv {
    position: relative;
    padding: 11px 32px;
    border: none;
    border-radius: 32px;
    margin-top: 1.5rem;
    overflow: hidden;
    font-size: var(--font-20);
    background-color: var(--btn-first);

    a {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      gap: var(--gab-10-8);
      letter-spacing: 0.1px;
      color: var(--color-footer);
      user-select: none;
      svg {
        fill: var(--color-footer);
      }
    }

    &:hover svg,
    &:hover a {
      opacity: 1;
    }
    &:hover {
      background-color: var(--first-color-hover);
    }
  }

  small {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4.5rem;
    bottom: var(--header-height-b-s);
    text-align: center;
    letter-spacing: 0.4px;

    a {
      font-weight: 700;
      color: var(--first-color-hover);
      font-size: var(--font-11);
    }
  }

  @media (width > 768px) {
    padding-top: 58px;

    .box-contact {
      gap: 36px;
    }

    .contact-info .box-contact a > svg {
      width: 34px;
      height: 32px;
    }

    small {
      bottom: var(--header-height-b-m);
    }
  }
  @media (width > 1024px) {
    small {
      bottom: 0.5rem;
    }
  }
}

/* ********** animation ********** */

/*? ********* HOME */

.animation-zoom {
  position: absolute;
  top: 0px;
  --scale: calc(70vw / 190px);
  transform: scale(var(--scale)) translateY(10px);
  transform-origin: top center;
  animation: zoom-logo 0.5s cubic-bezier(0.75, 1, 1, 1) 0.45s forwards;

  @media (width > 768px) {
    --scale: calc(70vw / 250px);
  }
}

@keyframes zoom-logo {
  to {
    transform: scale(1) translateY(0);
  }
}

.animation-curtain {
  overflow: hidden;

  & > *:first-child {
    transform: translateY(var(--translate-y, 100%));
    animation: curtain-down var(--duration, 0.5s) var(--delay, 0s) forwards;
    opacity: 0;
  }

  header {
    --duration: 1.9s;
    --translate-y: -40px;
  }

  .home-title-propuesta {
    --delay: 1s;
    &.propuesta-two {
      --delay: 1.2s;
    }
  }
  .home-subtitle-resumen {
    --delay: 1.4s;
  }
}

@keyframes curtain-down {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animation-opacity {
  opacity: 0;
  animation: show-opacity 1.7s ease-out 1.9s forwards;
}

@keyframes show-opacity {
  to {
    opacity: 1;
  }
}

/*? ********** OVERLAP */

.scroll-overlap-fija {
  position: sticky;
  top: 0;
  min-height: 100dvh;
  z-index: 0;
}

.scroll-overlap-superpone {
  position: relative;
  z-index: 1;
}

/*? ********** GENERAL */

.f-hidden {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* efectos iniciales */
.animation {
  opacity: 0;

  /* 🔥 rendimiento */
  will-change: transform, opacity, clip-path;

  /* transición base */
  transition:
    transform var(--duration, 0.6s) ease,
    opacity var(--duration, 0.6s) ease,
    clip-path var(--duration, 0.8s) ease;

  /* efecto escalonado */
  &.stagger {
    /* --reveal-delay: 1s; */
    transition:
      opacity 0.4s ease calc(var(--reveal-delay, 0ms)),
      transform 0.4s ease calc(var(--reveal-delay, 0ms));
  }

  /* efectos iniciales */
  &.a-up,
  &.fade-up {
    transform: translateY(50px);
  }
  &.a-up_hidden,
  &.fade-up-hidden {
    opacity: 1;
    transform: translateY(97%);
    transform: translateY(80%);
    transform: translateY(77%);
    padding-bottom: 2px;
    --duration: 0.8s;
  }

  &.a-left,
  &.fade-left {
    transform: translateX(-50px);
  }

  &.a-right,
  &.fade-right {
    transform: translateX(50px);
  }

  &.a-zoom_in,
  &.zoom-in {
    transform: scale(0.88);
  }

  /* efecto persiana */
  &.a-curtain,
  &.curtain {
    clip-path: inset(0 0 89% 0); /* threshold: 0.1 */
    clip-path: inset(79% 0 0 0); /* threshold: 0.2 */
    clip-path: inset(0 0 79% 0); /* threshold: 0.2 */
  }

  /* delays manuales */
  &.delay-1 {
    transition-delay: 0ms;
  }
  &.delay-2 {
    transition-delay: 120ms;
  }
  &.delay-3 {
    transition-delay: 240ms;
  }
}

/* estado final */
/* .animation.appear, */
.animation.revealed {
  opacity: 1;
  transform: translate(0) scale(1);
  clip-path: inset(0 0 0 0);
}

/* ---------------------------- */

/* Scroll + timeline */
.scroll-container {
  height: 350vh;
  view-timeline-name: --box;
  view-timeline-axis: block;
  overflow: clip;

  background-color: #000;
  background: linear-gradient(#000, #fff, #fff);

  .sticky-wrap {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;

    .expanding-box {
      width: 100%;
      max-width: 60px;
      min-height: 99vh;
      border-radius: 24px;
      background: #fff;
      /* color: #f3f3f4; */

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      animation: expand linear both;
      animation-timeline: --box;
      animation-range: entry 10% exit 1%;

      h2 {
        font-size: clamp(24px, 4vw, 48px);
        font-weight: 500;
        line-height: 1.2;
      }

      p {
        font-size: 15px;
        color: rgba(243, 243, 244, 0.55);
        max-width: 480px;
        text-align: center;
        line-height: 1.6;
      }

      .cta-btn {
        background: #f3f3f4;
        color: #1a1a2e;
        border: none;
        border-radius: 999px;
        padding: 12px 28px;
        cursor: pointer;

        &:hover {
          opacity: 0.85;
        }
      }
    }
  }
}

/* Animación */
@keyframes expand {
  from {
    max-width: 760px;
    border-radius: 24px;
    margin: 60px 0;
  }
  to {
    max-width: 100vw;
    border-radius: 0;
    margin: 0;
  }
}
